TheWalkingDead 1.0

NUM_PLAYERS			4
NUM_ROUNDS			200
BOARD_ROWS			60
BOARD_COLS			60
NUM_INI_UNITS_PER_CLAN		20
NUM_INI_ZOMBIES			10
NUM_INI_FOOD			15
CLAN_INI_STRENGTH		1000
POINTS_FOR_KILLING_PERSON	50
POINTS_FOR_KILLING_ZOMBIE	10
POINTS_PER_OWNED_CELL 		1
FOOD_STRENGTH 			50
ROUNDS_BEFORE_BECOMING_ZOMBIE 	5

RANDOM
