TheWalkingDead 1.0

NUM_PLAYERS			4
NUM_ROUNDS			250
BOARD_ROWS			60
BOARD_COLS			60
NUM_INI_UNITS_PER_CLAN		3
NUM_INI_ZOMBIES			3
NUM_INI_FOOD			15
CLAN_INI_STRENGTH		300
POINTS_FOR_KILLING_PERSON	50
POINTS_FOR_KILLING_ZOMBIE	10
POINTS_PER_OWNED_CELL 		1
FOOD_STRENGTH 			20
ROUNDS_BEFORE_BECOMING_ZOMBIE 	5

FIXED

   000000000011111111112222222222333333333344444444445555555555
   012345678901234567890123456789012345678901234567890123456789
00 ............................................................
01 ............................................................
02 .....................0......................................
03 ............................................................
04 ...WWW......................................................
05 ...WWW......................................................
06 ...WWW..............2.......................................
07 ...WWW.....................................0................
08 ...WWW.........................................WW...........
09 ...WWW.........................................WW...........
10 ...WWW.......................1.................WW...........
11 ...WWW..............1....0...2.................WW...........
12 ...WWW.........................................WW...........
13 ...WWW.........................................WW...........
14 ...............................................WW...........
15 ...............................................WW...........
16 .....2.........................................WW...........
17 ...............................................WW...........
18 .......1.......................................WW...........
19 ...............................................WW...........
20 ...............................................WW...........
21 ...............................................WW...........
22 ......WWWWWWWWWWWWWWWWWW.......................WW...........
23 ......WWWWWWWWWWWWWWWWWW.......................WW...........
24 ...............................................WW...........
25 ...............................................WW...........
26 ...............................................WW...3.......
27 ...............................................WW...........
28 ...............................................WW...........
29 ...............................................WW...........
30 ...............................................WW...........
31 ...............................................WW...........
32 .........................W.....................WW...........
33 .........................W.....................WW...........
34 .........................W.....................WW...........
35 .........................W.....................WW...........
36 .........................W.....................WW...........
37 ...........3.............W.....................WW...........
38 .........................WWWWWWW............................
39 ...............................W............................
40 ...............................W........3...................
41 ...............................W............................
42 ...............................W............................
43 .........................WWWWWWW............................
44 .........................W..................................
45 .........................W..................................
46 .........................W..................................
47 .........................W..................................
48 .........................W..................................
49 .........................W..................................
50 .........................W..................................
51 ............................................................
52 ............................................................
53 ............................................................
54 .................................WWWWWWWWWWWWWWWWW..........
55 .................................................W..........
56 .................................................W..........
57 .................................................W..........
58 .................................WWWWWWWWWWWWWWWWW..........
59 ............................................................

units
15
type	id	player	row	column	
a	0	0	2	21	
a	1	0	11	25	
a	2	0   	7	43
a	3	1	10	29	
a	4	1	11	20	
a	5	1	18	7	
a	6	2	6	20	
a	7	2	11	29	
a	8	2	16	5
a	9	3	26      52	
a	10	3	40	40	
a	11	3	37	11
z	12	-1	2	9	
z	13	-1	11	17
z	14	-1	51	37	


food
15
row	column
1   	10
23  	24
12  	45
53  	56
42 	33
35 	2 
6 	10
9 	14
20 	33
45 	50
58 	23
22 	35
11 	9 
3 	19
15 	39

